/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* CUSTOM STYLES VARIABLES */
:root {
  --font-main: "Playfair Display", serif;
  --font-secondary: "Ephesis", serif;
  --text_color-main: #e7f0ef;
  --text_color-secondary: #313131;
  --decor-color-1: #f18055;
  --decor-color-1-op8: rgba(241, 128, 85, 0.8);
  --decor-color-2: #313131;
  --decor-color-2-op6: rgb(49, 49, 49, 0.6);
  --decor-color-3-op45: rgba(0, 0, 0, 0.6);
}

/* SET THE STYLES BASED ON THE USER SYSTEM PREFERENCES FOR DARK THEME OR LIGHT THEME */
@media (prefers-color-scheme: dark) {
  :root {
  }
}

@media (prefers-color-scheme: light) {
  :root {
  }
}

/* CUSTOM STYLES SETTINGS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* SETTING SOME DEFAULT STYLES */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-main);
  font-weight: normal;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text_color-main);
}

body {
  background-color: rgba(229, 229, 229, 255);
}

button,
a {
  background: none;
  background-color: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  text-decoration: none;
  text-align: inherit;
  color: inherit;
  cursor: pointer;
}

ul,
ol,
li {
  list-style-type: none;
}

/* HOVER CLASSES RENDERED ONLY FOR DEVICES CAPABLE OF SUPPORTING IT */
/* (hover: hover) checks if the primary input mechanism of the device supports hover functionality. This typically applies to devices with a mouse or trackpad. */
/* (pointer: fine) checks if the primary pointing device is precise, which would be true for a mouse or stylus, but not for a finger on a touch screen. */
@media (hover: hover) and (pointer: fine) {
  .btn_type_main:hover {
    background-color: var(--decor-color-1);
  }

  .banner_card:hover {
    transform: translateY(-1.5rem);
  }

  .banner_card_type1:hover::after,
  .banner_card_type2:hover::after,
  .banner_card_type3:hover::after {
    width: 100%;
  }

  .banner_card_type1:hover::before,
  .banner_card_type2:hover::before,
  .banner_card_type3:hover::before {
    top: 0;
  }

  .pagination button:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  .showroom_item_visit:hover {
    background: var(--decor-color-1-op8);
  }
}

.mouse_trailer {
  position: fixed;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.45);
  border-radius: 0.25rem;
  background: rgba(245, 245, 245, 1);
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0.5rem;
  transition: all 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  font-size: 1.4rem;
  text-transform: capitalize;
}

.mouse_trailer_open {
  border-radius: 0.25rem;
  width: 25rem;
  height: 2.6rem;
  transition: all 0.25s;
}

header {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  padding: 2rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head_background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-image: url("assets/img/hero_img.jpeg");
  background-position: center;
  background-size: 130%;
  animation: panImage 15s linear infinite;
}

@keyframes panImage {
  0% {
    background-position: 36% 42%;
    background-size: 130%;
  }

  20% {
    background-position: 30% 35%;
    background-size: 130%;
  }

  20.0001% {
    background-position: 60% 85%;
    background-size: 180%;
  }

  40% {
    background-position: 49% 81%;
    background-size: 180%;
  }

  40.0001% {
    background-position: 80% 42%;
    background-size: 130%;
  }

  60% {
    background-position: 84% 33%;
    background-size: 130%;
  }

  60.0001% {
    background-position: 0% 0%;
    background-size: 180%;
  }

  80% {
    background-position: 15% 4%;
    background-size: 180%;
  }

  80.0001% {
    background-position: 80% 10%;
    background-size: 130%;
  }

  100% {
    background-position: 88% 14%;
    background-size: 130%;
  }
}

.navbar {
  width: 95vw;
  height: 10rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(8rem, 8rem) 1fr minmax(12rem, 12rem);
  background-color: var(--decor-color-3-op45);
  border-radius: 0.25rem;
  box-shadow: 0 4px 30px var(--decor-color-3-op45);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.nav_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn_type_main {
  padding: 1.25rem;
  border-radius: 0.25rem;
  color: var(--text_color-main);
  font-family: var(--font-main);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.25s;
}

.btn_type_active {
  background-color: var(--decor-color-1);
}

.nav_cart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--decor-color-1);
  font-size: 1.6rem;
  font-family: var(--font-main);
  font-weight: bolder;
  color: var(--text_color-secondary);
}

.navbar_dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  width: 95vw;
  height: 15rem;
  top: 13rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 4px 30px var(--decor-color-3-op45);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: var(--text_color-main);
  font-family: var(--font-main);
}

.navbar_dropdown_active {
  display: flex;
}

.my_account_tab,
.categories_tab,
.search_tab,
.chisiamo_tab {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  display: flex;
}

.banner_card {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 40vh;
  padding: 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s;
}

.banner_card_type1 {
  background-image: url("assets/img/banner1.jpeg");
}

.banner_card_type2 {
  background-image: url("assets/img/banner2.jpeg");
}

.banner_card_type3 {
  background-image: url("assets/img/banner3.jpeg");
}

.banner_card_type1::after,
.banner_card_type2::after,
.banner_card_type3::after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: var(--decor-color-3-op45);
  clip-path: polygon(0 0, 91% 0, 55% 100%, 0% 100%);
  transition: all 0.25s;
}

.banner_card_type1::before,
.banner_card_type2::before,
.banner_card_type3::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: var(--decor-color-2-op6);
  clip-path: polygon(0 0, 40% 40%, 100% 100%, 0% 100%);
  transition: all 0.25s;
}

.banner_btn {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: 2.5rem;
  transform: translate(0, -50%);
  padding: 1.5rem 6.5rem;
  font-family: var(--font-main);
  background-color: var(--decor-color-3-op45);
  border: 1px solid var(--text_color-main);
  border-radius: 0.25rem;
  color: var(--text_color-main);
  box-shadow: 0 4px 30px var(--decor-color-3-op45);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.25s, border 0.25s;
}

.banner_btn:hover {
  background: var(--decor-color-1);
  border: 1px solid var(--decor-color-1);
}

/* BODY STYLES START */
main {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 5rem;
}

.blob {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.main_title {
  position: relative;
  display: block;
  margin: 2.5rem 0;
  font: italic bolder 2.6rem var(--font-main);
  color: var(--text_color-secondary);
  text-transform: uppercase;
}

.main_title::after {
  position: absolute;
  content: "";
  top: calc(100% + 0.5rem);
  left: 0;
  width: 18.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: var(--decor-color-1);
}

main ul {
  width: 100%;
  max-width: 116.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 1rem;
}

.item_card {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0.25rem;
  background: rgba(245, 245, 245, 1);
  width: 22.5rem;
  height: 40.8rem;
}

.item_recommended {
  position: absolute;
  display: block;
  top: 55%;
  right: 0rem;
  z-index: 1;
  font-family: var(--font-secondary);
  font-weight: bolder;
  font-size: 2.2rem;
  text-transform: capitalize;
}

.item_recommended::after {
  position: absolute;
  content: "";
  top: 1rem;
  left: -1rem;
  z-index: -1;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
  background: rgba(143, 150, 247, 0.8);
  width: 110%;
  height: 1.5rem;
}

.item_new {
  position: absolute;
  display: block;
  z-index: 1;
  top: 0rem;
  left: 0rem;
  font: bolder 2.2rem var(--font-secondary);
  text-transform: capitalize;
}

.item_new::after {
  position: absolute;
  content: "";
  top: 1rem;
  left: -1rem;
  z-index: -1;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  background: var(--decor-color-1-op8);
  width: 6.5rem;
  height: 1.5rem;
}

.pagination {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.45);
  font: bolder 2.5rem var(--font-secondary);
  color: var(--text_color-main);
  transition: background 0.25s;
}

.showroom_content {
  margin: 5rem auto;
  width: 100%;
}

.showroom_content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 8.5rem;
}

.showroom_item {
  position: relative;
  width: 100%;
  height: 30rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.25s;
}

.showroom_item_img,
.showroom_item_img img {
  width: 55rem;
  height: 30rem;
}

.showroom_item_img {
  position: relative;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
}

.showroom_item_img::after {
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.showroom_item_img::before {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
  content: "";
  width: 75%;
  height: 75%;
  background: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.showroom_content ul li:nth-child(even) {
  flex-direction: row-reverse;
}

.showroom_content ul li:nth-child(odd) {
  flex-direction: row;
}

.showroom_item_content {
  padding: 1.5rem;
}

.showroom_item_title {
  font: bolder 3.5rem var(--font-secondary);
  color: var(--text_color-secondary);
}

.showroom_item_title span {
  font-size: 6.5rem;
}

.showroom_item_body {
  font: italic normal 1.5rem var(--font-main);
  color: var(--text_color-secondary);
}

.showroom_item_visit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  width: 100%;
  padding: 1.5rem 3rem;
  border: 1px solid var(--decor-color-1-op8);
  border-radius: 0.25rem;
  font: normal bold 1.4rem var(--font-main);
  text-transform: initial;
  color: var(--text_color-secondary);
  cursor: pointer;
  transition: background 0.25s;
}

.summary_section {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.map {
  margin: 1.5rem;
  height: 45rem;
  border-radius: 0.25rem;
  /* BACKGROUND COLOR WILL BE VISIBLE WHILE THE ACTUAL GOOGLE MAP IS LOADING */
  background: rgb(0, 128, 0, 0.2);
  border: 1px solid var(--decor-color-2);
  overflow: hidden;
  transition: all 0.25s;
}

.our_mission {
  padding: 1.5rem;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: var(--text_color-secondary);
  overflow: hidden;
}

.our_mission_text h2 {
  font: italic normal 2.5rem var(--font-main);
  margin-bottom: 2.5rem;
}

.our_mission_text p {
  font: italic normal 1.8rem var(--font-main);
  text-decoration: underline;
}

.review_slider {
  margin-top: 2rem;
}

.review_slider ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5rem;
}

.review_slide {
  width: 100%;
  flex-shrink: 0;
  margin-top: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  color: var(--text_color-secondary);
  transition: all 0.5s;
}

.review_slide_photo {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  background: var(--decor-color-2);
  border-radius: 50%;
}

.review_slide_photo::after {
  position: absolute;
  content: "";
  top: 0.75rem;
  left: 0.65rem;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  border-radius: inherit;
}

.review_comment {
  font-family: var(--font-main);
  position: relative;
  width: 80%;
}

.review_comment::after {
  position: absolute;
  content: "";
  top: 35%;
  left: 5%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}

.review_quote {
  position: absolute;
  font-family: var(--font-secondary);
  font-size: 10rem;
  line-height: 10rem;
}

.review_quote_open {
  top: -25%;
  left: 0%;
  transform: rotate(180deg);
}

.review_quote_close {
  top: 80%;
  left: 95%;
}

.review_username {
  font-size: 1.6rem !important;
}

.review_comment {
  font-weight: bold;
  font-size: 1.5rem !important;
}

.slider_controller {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

.slider_controller button {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: var(--decor-color-2);
  border: 1px solid var(--decor-color-2);
  outline: none;
  cursor: pointer;
  transition: all 0.25s;
}

.slider_controller button.slide_active {
  background: rgba(241, 128, 85, 0.8);
  border: 1px solid rgba(241, 128, 85, 0.8);
  transition: all 0.25s;
}

/* BODY STYLES END */

/* .test {
  background-color: var(--test-color);
} */

/* For example, when you use appearance: none; on a <select> dropdown or a <button>, it will strip away the browser’s built-in styling, such as borders, shadows, and other native styles, so you can then style the element completely from scratch. */
